p {
  color: green;
}

h1 {
  color: tomato;
  text-shadow: black 1px 1px;
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-image: url(../../images/pizzajumbo.jpg);
  background-position: center;
  background-size: cover;
}
